/*
 * Nomad
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 1.1.4
 * Contact: support@hashicorp.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// ACLApiService ACLApi service
type ACLApiService service

type ApiGetACLPoliciesRequest struct {
	ctx _context.Context
	ApiService *ACLApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

func (r ApiGetACLPoliciesRequest) Region(region string) ApiGetACLPoliciesRequest {
	r.region = &region
	return r
}
func (r ApiGetACLPoliciesRequest) Namespace(namespace string) ApiGetACLPoliciesRequest {
	r.namespace = &namespace
	return r
}
func (r ApiGetACLPoliciesRequest) Index(index int32) ApiGetACLPoliciesRequest {
	r.index = &index
	return r
}
func (r ApiGetACLPoliciesRequest) Wait(wait string) ApiGetACLPoliciesRequest {
	r.wait = &wait
	return r
}
func (r ApiGetACLPoliciesRequest) Stale(stale string) ApiGetACLPoliciesRequest {
	r.stale = &stale
	return r
}
func (r ApiGetACLPoliciesRequest) Prefix(prefix string) ApiGetACLPoliciesRequest {
	r.prefix = &prefix
	return r
}
func (r ApiGetACLPoliciesRequest) XNomadToken(xNomadToken string) ApiGetACLPoliciesRequest {
	r.xNomadToken = &xNomadToken
	return r
}
func (r ApiGetACLPoliciesRequest) PerPage(perPage int32) ApiGetACLPoliciesRequest {
	r.perPage = &perPage
	return r
}
func (r ApiGetACLPoliciesRequest) NextToken(nextToken string) ApiGetACLPoliciesRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetACLPoliciesRequest) Execute() ([]ACLPolicyListStub, *_nethttp.Response, error) {
	return r.ApiService.GetACLPoliciesExecute(r)
}

/*
 * GetACLPolicies Method for GetACLPolicies
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetACLPoliciesRequest
 */
func (a *ACLApiService) GetACLPolicies(ctx _context.Context) ApiGetACLPoliciesRequest {
	return ApiGetACLPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return []ACLPolicyListStub
 */
func (a *ACLApiService) GetACLPoliciesExecute(r ApiGetACLPoliciesRequest) ([]ACLPolicyListStub, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []ACLPolicyListStub
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ACLApiService.GetACLPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acl/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
