/*
Nomad

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.4
Contact: support@hashicorp.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// StatusApiService StatusApi service
type StatusApiService service

type ApiGetStatusLeaderRequest struct {
	ctx context.Context
	ApiService *StatusApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetStatusLeaderRequest) Region(region string) ApiGetStatusLeaderRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetStatusLeaderRequest) Namespace(namespace string) ApiGetStatusLeaderRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetStatusLeaderRequest) Index(index int32) ApiGetStatusLeaderRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetStatusLeaderRequest) Wait(wait string) ApiGetStatusLeaderRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetStatusLeaderRequest) Stale(stale string) ApiGetStatusLeaderRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetStatusLeaderRequest) Prefix(prefix string) ApiGetStatusLeaderRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetStatusLeaderRequest) XNomadToken(xNomadToken string) ApiGetStatusLeaderRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetStatusLeaderRequest) PerPage(perPage int32) ApiGetStatusLeaderRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetStatusLeaderRequest) NextToken(nextToken string) ApiGetStatusLeaderRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetStatusLeaderRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.GetStatusLeaderExecute(r)
}

/*
GetStatusLeader Method for GetStatusLeader

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetStatusLeaderRequest
*/
func (a *StatusApiService) GetStatusLeader(ctx context.Context) ApiGetStatusLeaderRequest {
	return ApiGetStatusLeaderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *StatusApiService) GetStatusLeaderExecute(r ApiGetStatusLeaderRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatusApiService.GetStatusLeader")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/status/leader"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStatusPeersRequest struct {
	ctx context.Context
	ApiService *StatusApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetStatusPeersRequest) Region(region string) ApiGetStatusPeersRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetStatusPeersRequest) Namespace(namespace string) ApiGetStatusPeersRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetStatusPeersRequest) Index(index int32) ApiGetStatusPeersRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetStatusPeersRequest) Wait(wait string) ApiGetStatusPeersRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetStatusPeersRequest) Stale(stale string) ApiGetStatusPeersRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetStatusPeersRequest) Prefix(prefix string) ApiGetStatusPeersRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetStatusPeersRequest) XNomadToken(xNomadToken string) ApiGetStatusPeersRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetStatusPeersRequest) PerPage(perPage int32) ApiGetStatusPeersRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetStatusPeersRequest) NextToken(nextToken string) ApiGetStatusPeersRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetStatusPeersRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.GetStatusPeersExecute(r)
}

/*
GetStatusPeers Method for GetStatusPeers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetStatusPeersRequest
*/
func (a *StatusApiService) GetStatusPeers(ctx context.Context) ApiGetStatusPeersRequest {
	return ApiGetStatusPeersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []string
func (a *StatusApiService) GetStatusPeersExecute(r ApiGetStatusPeersRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatusApiService.GetStatusPeers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/status/peers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
