/*
Nomad

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.4
Contact: support@hashicorp.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// AllocationsApiService AllocationsApi service
type AllocationsApiService service

type ApiGetAllocationRequest struct {
	ctx context.Context
	ApiService *AllocationsApiService
	allocID string
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetAllocationRequest) Region(region string) ApiGetAllocationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetAllocationRequest) Namespace(namespace string) ApiGetAllocationRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetAllocationRequest) Index(index int32) ApiGetAllocationRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetAllocationRequest) Wait(wait string) ApiGetAllocationRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetAllocationRequest) Stale(stale string) ApiGetAllocationRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetAllocationRequest) Prefix(prefix string) ApiGetAllocationRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetAllocationRequest) XNomadToken(xNomadToken string) ApiGetAllocationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetAllocationRequest) PerPage(perPage int32) ApiGetAllocationRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetAllocationRequest) NextToken(nextToken string) ApiGetAllocationRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetAllocationRequest) Execute() (*Allocation, *http.Response, error) {
	return r.ApiService.GetAllocationExecute(r)
}

/*
GetAllocation Method for GetAllocation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param allocID Allocation ID.
 @return ApiGetAllocationRequest
*/
func (a *AllocationsApiService) GetAllocation(ctx context.Context, allocID string) ApiGetAllocationRequest {
	return ApiGetAllocationRequest{
		ApiService: a,
		ctx: ctx,
		allocID: allocID,
	}
}

// Execute executes the request
//  @return Allocation
func (a *AllocationsApiService) GetAllocationExecute(r ApiGetAllocationRequest) (*Allocation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Allocation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AllocationsApiService.GetAllocation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/allocation/{allocID}"
	localVarPath = strings.Replace(localVarPath, "{"+"allocID"+"}", url.PathEscape(parameterToString(r.allocID, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllocationServicesRequest struct {
	ctx context.Context
	ApiService *AllocationsApiService
	allocID string
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetAllocationServicesRequest) Region(region string) ApiGetAllocationServicesRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetAllocationServicesRequest) Namespace(namespace string) ApiGetAllocationServicesRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetAllocationServicesRequest) Index(index int32) ApiGetAllocationServicesRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetAllocationServicesRequest) Wait(wait string) ApiGetAllocationServicesRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetAllocationServicesRequest) Stale(stale string) ApiGetAllocationServicesRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetAllocationServicesRequest) Prefix(prefix string) ApiGetAllocationServicesRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetAllocationServicesRequest) XNomadToken(xNomadToken string) ApiGetAllocationServicesRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetAllocationServicesRequest) PerPage(perPage int32) ApiGetAllocationServicesRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetAllocationServicesRequest) NextToken(nextToken string) ApiGetAllocationServicesRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetAllocationServicesRequest) Execute() ([]ServiceRegistration, *http.Response, error) {
	return r.ApiService.GetAllocationServicesExecute(r)
}

/*
GetAllocationServices Method for GetAllocationServices

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param allocID Allocation ID.
 @return ApiGetAllocationServicesRequest
*/
func (a *AllocationsApiService) GetAllocationServices(ctx context.Context, allocID string) ApiGetAllocationServicesRequest {
	return ApiGetAllocationServicesRequest{
		ApiService: a,
		ctx: ctx,
		allocID: allocID,
	}
}

// Execute executes the request
//  @return []ServiceRegistration
func (a *AllocationsApiService) GetAllocationServicesExecute(r ApiGetAllocationServicesRequest) ([]ServiceRegistration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServiceRegistration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AllocationsApiService.GetAllocationServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/allocation/{allocID}/services"
	localVarPath = strings.Replace(localVarPath, "{"+"allocID"+"}", url.PathEscape(parameterToString(r.allocID, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllocationsRequest struct {
	ctx context.Context
	ApiService *AllocationsApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
	resources *bool
	taskStates *bool
}

// Filters results based on the specified region.
func (r ApiGetAllocationsRequest) Region(region string) ApiGetAllocationsRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetAllocationsRequest) Namespace(namespace string) ApiGetAllocationsRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetAllocationsRequest) Index(index int32) ApiGetAllocationsRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetAllocationsRequest) Wait(wait string) ApiGetAllocationsRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetAllocationsRequest) Stale(stale string) ApiGetAllocationsRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetAllocationsRequest) Prefix(prefix string) ApiGetAllocationsRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetAllocationsRequest) XNomadToken(xNomadToken string) ApiGetAllocationsRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetAllocationsRequest) PerPage(perPage int32) ApiGetAllocationsRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetAllocationsRequest) NextToken(nextToken string) ApiGetAllocationsRequest {
	r.nextToken = &nextToken
	return r
}

// Flag indicating whether to include resources in response.
func (r ApiGetAllocationsRequest) Resources(resources bool) ApiGetAllocationsRequest {
	r.resources = &resources
	return r
}

// Flag indicating whether to include task states in response.
func (r ApiGetAllocationsRequest) TaskStates(taskStates bool) ApiGetAllocationsRequest {
	r.taskStates = &taskStates
	return r
}

func (r ApiGetAllocationsRequest) Execute() ([]AllocationListStub, *http.Response, error) {
	return r.ApiService.GetAllocationsExecute(r)
}

/*
GetAllocations Method for GetAllocations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAllocationsRequest
*/
func (a *AllocationsApiService) GetAllocations(ctx context.Context) ApiGetAllocationsRequest {
	return ApiGetAllocationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AllocationListStub
func (a *AllocationsApiService) GetAllocationsExecute(r ApiGetAllocationsRequest) ([]AllocationListStub, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AllocationListStub
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AllocationsApiService.GetAllocations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/allocations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	if r.resources != nil {
		localVarQueryParams.Add("resources", parameterToString(*r.resources, ""))
	}
	if r.taskStates != nil {
		localVarQueryParams.Add("task_states", parameterToString(*r.taskStates, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAllocationStopRequest struct {
	ctx context.Context
	ApiService *AllocationsApiService
	allocID string
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
	noShutdownDelay *bool
}

// Filters results based on the specified region.
func (r ApiPostAllocationStopRequest) Region(region string) ApiPostAllocationStopRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiPostAllocationStopRequest) Namespace(namespace string) ApiPostAllocationStopRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiPostAllocationStopRequest) Index(index int32) ApiPostAllocationStopRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiPostAllocationStopRequest) Wait(wait string) ApiPostAllocationStopRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiPostAllocationStopRequest) Stale(stale string) ApiPostAllocationStopRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiPostAllocationStopRequest) Prefix(prefix string) ApiPostAllocationStopRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiPostAllocationStopRequest) XNomadToken(xNomadToken string) ApiPostAllocationStopRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiPostAllocationStopRequest) PerPage(perPage int32) ApiPostAllocationStopRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiPostAllocationStopRequest) NextToken(nextToken string) ApiPostAllocationStopRequest {
	r.nextToken = &nextToken
	return r
}

// Flag indicating whether to delay shutdown when requesting an allocation stop.
func (r ApiPostAllocationStopRequest) NoShutdownDelay(noShutdownDelay bool) ApiPostAllocationStopRequest {
	r.noShutdownDelay = &noShutdownDelay
	return r
}

func (r ApiPostAllocationStopRequest) Execute() (*AllocStopResponse, *http.Response, error) {
	return r.ApiService.PostAllocationStopExecute(r)
}

/*
PostAllocationStop Method for PostAllocationStop

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param allocID Allocation ID.
 @return ApiPostAllocationStopRequest
*/
func (a *AllocationsApiService) PostAllocationStop(ctx context.Context, allocID string) ApiPostAllocationStopRequest {
	return ApiPostAllocationStopRequest{
		ApiService: a,
		ctx: ctx,
		allocID: allocID,
	}
}

// Execute executes the request
//  @return AllocStopResponse
func (a *AllocationsApiService) PostAllocationStopExecute(r ApiPostAllocationStopRequest) (*AllocStopResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AllocStopResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AllocationsApiService.PostAllocationStop")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/allocation/{allocID}/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"allocID"+"}", url.PathEscape(parameterToString(r.allocID, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	if r.noShutdownDelay != nil {
		localVarQueryParams.Add("no_shutdown_delay", parameterToString(*r.noShutdownDelay, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
