/*
Nomad

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.4
Contact: support@hashicorp.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// OperatorApiService OperatorApi service
type OperatorApiService service

type ApiDeleteOperatorRaftPeerRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	region *string
	namespace *string
	xNomadToken *string
	idempotencyToken *string
}

// Filters results based on the specified region.
func (r ApiDeleteOperatorRaftPeerRequest) Region(region string) ApiDeleteOperatorRaftPeerRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiDeleteOperatorRaftPeerRequest) Namespace(namespace string) ApiDeleteOperatorRaftPeerRequest {
	r.namespace = &namespace
	return r
}

// A Nomad ACL token.
func (r ApiDeleteOperatorRaftPeerRequest) XNomadToken(xNomadToken string) ApiDeleteOperatorRaftPeerRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Can be used to ensure operations are only run once.
func (r ApiDeleteOperatorRaftPeerRequest) IdempotencyToken(idempotencyToken string) ApiDeleteOperatorRaftPeerRequest {
	r.idempotencyToken = &idempotencyToken
	return r
}

func (r ApiDeleteOperatorRaftPeerRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteOperatorRaftPeerExecute(r)
}

/*
DeleteOperatorRaftPeer Method for DeleteOperatorRaftPeer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteOperatorRaftPeerRequest
*/
func (a *OperatorApiService) DeleteOperatorRaftPeer(ctx context.Context) ApiDeleteOperatorRaftPeerRequest {
	return ApiDeleteOperatorRaftPeerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *OperatorApiService) DeleteOperatorRaftPeerExecute(r ApiDeleteOperatorRaftPeerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.DeleteOperatorRaftPeer")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/raft/peer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.idempotencyToken != nil {
		localVarQueryParams.Add("idempotency_token", parameterToString(*r.idempotencyToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetOperatorAutopilotConfigurationRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetOperatorAutopilotConfigurationRequest) Region(region string) ApiGetOperatorAutopilotConfigurationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetOperatorAutopilotConfigurationRequest) Namespace(namespace string) ApiGetOperatorAutopilotConfigurationRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetOperatorAutopilotConfigurationRequest) Index(index int32) ApiGetOperatorAutopilotConfigurationRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetOperatorAutopilotConfigurationRequest) Wait(wait string) ApiGetOperatorAutopilotConfigurationRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetOperatorAutopilotConfigurationRequest) Stale(stale string) ApiGetOperatorAutopilotConfigurationRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetOperatorAutopilotConfigurationRequest) Prefix(prefix string) ApiGetOperatorAutopilotConfigurationRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetOperatorAutopilotConfigurationRequest) XNomadToken(xNomadToken string) ApiGetOperatorAutopilotConfigurationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetOperatorAutopilotConfigurationRequest) PerPage(perPage int32) ApiGetOperatorAutopilotConfigurationRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetOperatorAutopilotConfigurationRequest) NextToken(nextToken string) ApiGetOperatorAutopilotConfigurationRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetOperatorAutopilotConfigurationRequest) Execute() (*AutopilotConfiguration, *http.Response, error) {
	return r.ApiService.GetOperatorAutopilotConfigurationExecute(r)
}

/*
GetOperatorAutopilotConfiguration Method for GetOperatorAutopilotConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOperatorAutopilotConfigurationRequest
*/
func (a *OperatorApiService) GetOperatorAutopilotConfiguration(ctx context.Context) ApiGetOperatorAutopilotConfigurationRequest {
	return ApiGetOperatorAutopilotConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AutopilotConfiguration
func (a *OperatorApiService) GetOperatorAutopilotConfigurationExecute(r ApiGetOperatorAutopilotConfigurationRequest) (*AutopilotConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutopilotConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.GetOperatorAutopilotConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/autopilot/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOperatorAutopilotHealthRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetOperatorAutopilotHealthRequest) Region(region string) ApiGetOperatorAutopilotHealthRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetOperatorAutopilotHealthRequest) Namespace(namespace string) ApiGetOperatorAutopilotHealthRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetOperatorAutopilotHealthRequest) Index(index int32) ApiGetOperatorAutopilotHealthRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetOperatorAutopilotHealthRequest) Wait(wait string) ApiGetOperatorAutopilotHealthRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetOperatorAutopilotHealthRequest) Stale(stale string) ApiGetOperatorAutopilotHealthRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetOperatorAutopilotHealthRequest) Prefix(prefix string) ApiGetOperatorAutopilotHealthRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetOperatorAutopilotHealthRequest) XNomadToken(xNomadToken string) ApiGetOperatorAutopilotHealthRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetOperatorAutopilotHealthRequest) PerPage(perPage int32) ApiGetOperatorAutopilotHealthRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetOperatorAutopilotHealthRequest) NextToken(nextToken string) ApiGetOperatorAutopilotHealthRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetOperatorAutopilotHealthRequest) Execute() (*OperatorHealthReply, *http.Response, error) {
	return r.ApiService.GetOperatorAutopilotHealthExecute(r)
}

/*
GetOperatorAutopilotHealth Method for GetOperatorAutopilotHealth

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOperatorAutopilotHealthRequest
*/
func (a *OperatorApiService) GetOperatorAutopilotHealth(ctx context.Context) ApiGetOperatorAutopilotHealthRequest {
	return ApiGetOperatorAutopilotHealthRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OperatorHealthReply
func (a *OperatorApiService) GetOperatorAutopilotHealthExecute(r ApiGetOperatorAutopilotHealthRequest) (*OperatorHealthReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperatorHealthReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.GetOperatorAutopilotHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/autopilot/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOperatorRaftConfigurationRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetOperatorRaftConfigurationRequest) Region(region string) ApiGetOperatorRaftConfigurationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetOperatorRaftConfigurationRequest) Namespace(namespace string) ApiGetOperatorRaftConfigurationRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetOperatorRaftConfigurationRequest) Index(index int32) ApiGetOperatorRaftConfigurationRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetOperatorRaftConfigurationRequest) Wait(wait string) ApiGetOperatorRaftConfigurationRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetOperatorRaftConfigurationRequest) Stale(stale string) ApiGetOperatorRaftConfigurationRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetOperatorRaftConfigurationRequest) Prefix(prefix string) ApiGetOperatorRaftConfigurationRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetOperatorRaftConfigurationRequest) XNomadToken(xNomadToken string) ApiGetOperatorRaftConfigurationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetOperatorRaftConfigurationRequest) PerPage(perPage int32) ApiGetOperatorRaftConfigurationRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetOperatorRaftConfigurationRequest) NextToken(nextToken string) ApiGetOperatorRaftConfigurationRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetOperatorRaftConfigurationRequest) Execute() (*RaftConfiguration, *http.Response, error) {
	return r.ApiService.GetOperatorRaftConfigurationExecute(r)
}

/*
GetOperatorRaftConfiguration Method for GetOperatorRaftConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOperatorRaftConfigurationRequest
*/
func (a *OperatorApiService) GetOperatorRaftConfiguration(ctx context.Context) ApiGetOperatorRaftConfigurationRequest {
	return ApiGetOperatorRaftConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RaftConfiguration
func (a *OperatorApiService) GetOperatorRaftConfigurationExecute(r ApiGetOperatorRaftConfigurationRequest) (*RaftConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RaftConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.GetOperatorRaftConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/raft/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOperatorSchedulerConfigurationRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	region *string
	namespace *string
	index *int32
	wait *string
	stale *string
	prefix *string
	xNomadToken *string
	perPage *int32
	nextToken *string
}

// Filters results based on the specified region.
func (r ApiGetOperatorSchedulerConfigurationRequest) Region(region string) ApiGetOperatorSchedulerConfigurationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiGetOperatorSchedulerConfigurationRequest) Namespace(namespace string) ApiGetOperatorSchedulerConfigurationRequest {
	r.namespace = &namespace
	return r
}

// If set, wait until query exceeds given index. Must be provided with WaitParam.
func (r ApiGetOperatorSchedulerConfigurationRequest) Index(index int32) ApiGetOperatorSchedulerConfigurationRequest {
	r.index = &index
	return r
}

// Provided with IndexParam to wait for change.
func (r ApiGetOperatorSchedulerConfigurationRequest) Wait(wait string) ApiGetOperatorSchedulerConfigurationRequest {
	r.wait = &wait
	return r
}

// If present, results will include stale reads.
func (r ApiGetOperatorSchedulerConfigurationRequest) Stale(stale string) ApiGetOperatorSchedulerConfigurationRequest {
	r.stale = &stale
	return r
}

// Constrains results to jobs that start with the defined prefix
func (r ApiGetOperatorSchedulerConfigurationRequest) Prefix(prefix string) ApiGetOperatorSchedulerConfigurationRequest {
	r.prefix = &prefix
	return r
}

// A Nomad ACL token.
func (r ApiGetOperatorSchedulerConfigurationRequest) XNomadToken(xNomadToken string) ApiGetOperatorSchedulerConfigurationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Maximum number of results to return.
func (r ApiGetOperatorSchedulerConfigurationRequest) PerPage(perPage int32) ApiGetOperatorSchedulerConfigurationRequest {
	r.perPage = &perPage
	return r
}

// Indicates where to start paging for queries that support pagination.
func (r ApiGetOperatorSchedulerConfigurationRequest) NextToken(nextToken string) ApiGetOperatorSchedulerConfigurationRequest {
	r.nextToken = &nextToken
	return r
}

func (r ApiGetOperatorSchedulerConfigurationRequest) Execute() (*SchedulerConfigurationResponse, *http.Response, error) {
	return r.ApiService.GetOperatorSchedulerConfigurationExecute(r)
}

/*
GetOperatorSchedulerConfiguration Method for GetOperatorSchedulerConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOperatorSchedulerConfigurationRequest
*/
func (a *OperatorApiService) GetOperatorSchedulerConfiguration(ctx context.Context) ApiGetOperatorSchedulerConfigurationRequest {
	return ApiGetOperatorSchedulerConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SchedulerConfigurationResponse
func (a *OperatorApiService) GetOperatorSchedulerConfigurationExecute(r ApiGetOperatorSchedulerConfigurationRequest) (*SchedulerConfigurationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SchedulerConfigurationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.GetOperatorSchedulerConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/scheduler/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.wait != nil {
		localVarQueryParams.Add("wait", parameterToString(*r.wait, ""))
	}
	if r.stale != nil {
		localVarQueryParams.Add("stale", parameterToString(*r.stale, ""))
	}
	if r.prefix != nil {
		localVarQueryParams.Add("prefix", parameterToString(*r.prefix, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.nextToken != nil {
		localVarQueryParams.Add("next_token", parameterToString(*r.nextToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.index != nil {
		localVarHeaderParams["index"] = parameterToString(*r.index, "")
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostOperatorSchedulerConfigurationRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	schedulerConfiguration *SchedulerConfiguration
	region *string
	namespace *string
	xNomadToken *string
	idempotencyToken *string
}

func (r ApiPostOperatorSchedulerConfigurationRequest) SchedulerConfiguration(schedulerConfiguration SchedulerConfiguration) ApiPostOperatorSchedulerConfigurationRequest {
	r.schedulerConfiguration = &schedulerConfiguration
	return r
}

// Filters results based on the specified region.
func (r ApiPostOperatorSchedulerConfigurationRequest) Region(region string) ApiPostOperatorSchedulerConfigurationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiPostOperatorSchedulerConfigurationRequest) Namespace(namespace string) ApiPostOperatorSchedulerConfigurationRequest {
	r.namespace = &namespace
	return r
}

// A Nomad ACL token.
func (r ApiPostOperatorSchedulerConfigurationRequest) XNomadToken(xNomadToken string) ApiPostOperatorSchedulerConfigurationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Can be used to ensure operations are only run once.
func (r ApiPostOperatorSchedulerConfigurationRequest) IdempotencyToken(idempotencyToken string) ApiPostOperatorSchedulerConfigurationRequest {
	r.idempotencyToken = &idempotencyToken
	return r
}

func (r ApiPostOperatorSchedulerConfigurationRequest) Execute() (*SchedulerSetConfigurationResponse, *http.Response, error) {
	return r.ApiService.PostOperatorSchedulerConfigurationExecute(r)
}

/*
PostOperatorSchedulerConfiguration Method for PostOperatorSchedulerConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostOperatorSchedulerConfigurationRequest
*/
func (a *OperatorApiService) PostOperatorSchedulerConfiguration(ctx context.Context) ApiPostOperatorSchedulerConfigurationRequest {
	return ApiPostOperatorSchedulerConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SchedulerSetConfigurationResponse
func (a *OperatorApiService) PostOperatorSchedulerConfigurationExecute(r ApiPostOperatorSchedulerConfigurationRequest) (*SchedulerSetConfigurationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SchedulerSetConfigurationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.PostOperatorSchedulerConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/scheduler/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.schedulerConfiguration == nil {
		return localVarReturnValue, nil, reportError("schedulerConfiguration is required and must be specified")
	}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.idempotencyToken != nil {
		localVarQueryParams.Add("idempotency_token", parameterToString(*r.idempotencyToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	// body params
	localVarPostBody = r.schedulerConfiguration
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutOperatorAutopilotConfigurationRequest struct {
	ctx context.Context
	ApiService *OperatorApiService
	autopilotConfiguration *AutopilotConfiguration
	region *string
	namespace *string
	xNomadToken *string
	idempotencyToken *string
}

func (r ApiPutOperatorAutopilotConfigurationRequest) AutopilotConfiguration(autopilotConfiguration AutopilotConfiguration) ApiPutOperatorAutopilotConfigurationRequest {
	r.autopilotConfiguration = &autopilotConfiguration
	return r
}

// Filters results based on the specified region.
func (r ApiPutOperatorAutopilotConfigurationRequest) Region(region string) ApiPutOperatorAutopilotConfigurationRequest {
	r.region = &region
	return r
}

// Filters results based on the specified namespace.
func (r ApiPutOperatorAutopilotConfigurationRequest) Namespace(namespace string) ApiPutOperatorAutopilotConfigurationRequest {
	r.namespace = &namespace
	return r
}

// A Nomad ACL token.
func (r ApiPutOperatorAutopilotConfigurationRequest) XNomadToken(xNomadToken string) ApiPutOperatorAutopilotConfigurationRequest {
	r.xNomadToken = &xNomadToken
	return r
}

// Can be used to ensure operations are only run once.
func (r ApiPutOperatorAutopilotConfigurationRequest) IdempotencyToken(idempotencyToken string) ApiPutOperatorAutopilotConfigurationRequest {
	r.idempotencyToken = &idempotencyToken
	return r
}

func (r ApiPutOperatorAutopilotConfigurationRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.PutOperatorAutopilotConfigurationExecute(r)
}

/*
PutOperatorAutopilotConfiguration Method for PutOperatorAutopilotConfiguration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPutOperatorAutopilotConfigurationRequest
*/
func (a *OperatorApiService) PutOperatorAutopilotConfiguration(ctx context.Context) ApiPutOperatorAutopilotConfigurationRequest {
	return ApiPutOperatorAutopilotConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return bool
func (a *OperatorApiService) PutOperatorAutopilotConfigurationExecute(r ApiPutOperatorAutopilotConfigurationRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorApiService.PutOperatorAutopilotConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator/autopilot/configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autopilotConfiguration == nil {
		return localVarReturnValue, nil, reportError("autopilotConfiguration is required and must be specified")
	}

	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	if r.namespace != nil {
		localVarQueryParams.Add("namespace", parameterToString(*r.namespace, ""))
	}
	if r.idempotencyToken != nil {
		localVarQueryParams.Add("idempotency_token", parameterToString(*r.idempotencyToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xNomadToken != nil {
		localVarHeaderParams["X-Nomad-Token"] = parameterToString(*r.xNomadToken, "")
	}
	// body params
	localVarPostBody = r.autopilotConfiguration
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Nomad-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Nomad-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
